.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

footer p {
  text-align: center;
  margin-top: 10px;
  color: whitesmoke;
  padding: 30px;
  font-size: small;
}
#pie-pagina {
  background: url(bg.jpg);
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
  font-weight: bolder;
}
